.cabecera{
	margin-top: 5px;
}

.logo{
	width: 60px;
	margin-top: 12px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.tituloppal{
	margin-top: 10px;
	text-align: right;
	margin-right: 25px;
}
.barrappal{
	background-color: black;
}
.barrappal{
	background-color: #CCCCCC;
	padding: 5px 15px ;
}
.barrappal li{
	display: inline-block;
	list-style: none;
	padding: 5px;
}