*{
  font-family: 'Arial', sans-serif;
}

.bg2{
   padding-top: 5px;
   margin-right: 50px;
}
 
.tit {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #10514a;
}

nav{
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.1);
}

  nav ul li a:hover {
    border-bottom: 3px solid #10514a;
    width: 330px;
    color: #fff;
    transform: translate(2%,1%);
}

.img-logo{
  width: 60px;
  margin-left: 5px;
}

#cuad-ini{
padding: 20px;
  margin-top: 10%;

}

.busca{
  width: 20px;
}

/* slider */